<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Andrew Lincoln</key>
	<string>578300</string>
	<key>Hugh Laurie</key>
	<string>100609</string>
	<key>Neil Patrick Harris</key>
	<string>100637</string>
</dict>
</plist>
